absl-py==0.2.2
altgraph==0.17
asgiref==3.4.1
astor==0.7.1
certifi==2020.6.20
chardet==3.0.4
contextlib2==0.5.5
cycler==0.10.0
Cython==0.28.4
decorator==4.4.2
Django==3.2.5
djangorestframework==3.12.4
future==0.18.2
gast==0.2.0
grpcio==1.13.0
idna==2.10
imageio==2.5.0
imageio-ffmpeg==0.4.2
kiwisolver==1.0.1
moviepy==1.0.3
numpy==1.17.3
opencv-python==3.4.2.16
pefile==2019.4.18
Pillow==5.2.0
proglog==0.1.9
psycopg2==2.9.1
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
pytz==2021.1
pywin32-ctypes==0.2.0
requests==2.24.0
six==1.11.0
sqlparse==0.4.1
tqdm==4.48.2
typing-extensions==3.10.0.0
Unipath==1.1
urllib3==1.25.10